:root {
  --foreground-color: rgba(255, 255, 255, 0.6);

  --background-color: rgb(31, 41, 55);
  --background-color-dark: rgba(31, 41, 55, 0.6);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}